<div class="well">
  <div class="row">
  <%= form_for order_item, remote: true do |f| %>
    <div class="col-xs-8 col-md-3 col-md-offset-1 col-xs-12">
      <h7><%= link_to product.name, product %></h7>
    </div>
    <div class="col-md-1 col-xs-2">
      <h7>
        <%= number_to_currency order_item.formatted_unit_price %>
      </h7>
    </div>
    <div class="col-md-3 col-xs-7">
      <div class="input-group">
        <%= f.number_field :quantity, value: order_item.quantity.to_i, class: " form-control form-control-sm", min: 1 %>
        <%= f.hidden_field :product_id, value: product.id %>
        <div class="input-group-btn">
          <%= f.submit "update", class: "btn btn-sm btn-secondary sharp" %>
          <%= link_to "remove", order_item, { data: {
            confirm: "Are you sure you wish to delete the product #{order_item.product.name} from your cart?" },
                method: :delete, remote: true, class: "btn btn-sm
                  btn-secondary sharp del" } %>
        </div>
      </div>
    </div>
    <div class="col-md-2 col-xs-3">
      <h7 class="pull-xs-right">
        <%= number_to_currency order_item.formatted_total_price %>
      </h7>
    </div>
  </div>
  <br>
   <% end %>
</div>
