<br>
<div class="container">
  <% if @earrings == nil %>
    <p>no earrings</p>
  <% else %>
    <div class="row hidden-sm-down">
      <% @earrings.each do |earring| %>
        <% if earring.image == nil %>
          <p>no image </p>
        <% else %>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <%= link_to earring do %>
              <%= image_tag earring.image.image1.url ,
                class: "img-fluid" %>
              <%= earring.name %>
            <% end %>
            <p>$<%= earring.formatted_price %></p>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <% @earrings.each do |earring| %>
    <div class="row hidden-md-up pindex" data-link="<%= products_earrings_path(earring) %>">
      <div class="col-xs-5">
        <%= link_to earring do %>
          <%= image_tag earring.image.image1.url ,
            class: "img-fluid" %>
        <% end %>
      </div>
      <div class="col-xs-7">
        <br>
        <br>
        <p>
          <%= earring.name %><br>
          $<%= earring.formatted_price %>
        </p>
      </div>
    </div>
     <div role="separator" class="dropdown-divider hidden-md-up"></div>
  <% end %>
</div>
