<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<br>
<div class="container">
  <div class="row">
   <% if @product.image == nil %>
    <%= link_to "add images", new_image_path(product_id: @product.id) %>
  <% else %>
    <div class="col-md-6 col-md-offset-1 mainimg">
      <div class="bss-slides num1">
        <figure class="image" >
            <img src="<%= @images.image1.url %>" width="100%" />
        </figure>
        <figure class="image" >
            <img src="<%= @images.image2.url %>" width="100%" />
        </figure>
        <figure class="image" >
            <img src="<%= @images.image3.url %>" width="100%" />
        </figure>
        <figure class="image" >
            <img src="<%= @images.image4.url %>" width="100%" />
        </figure>
      </div>
    </div>
    <div class="col-md-4">
      <h5><%= @product.name %></h5>
      <br>
      <h5>$<%= @product.formatted_price %></h5>
      <p><%= simple_format(@product.description) %></p>
      <% end %>
      <br>
      <%= form_for @order_item, remote: true do |f| %>
        <%= f.hidden_field :quantity, value: 1 %>
        <%= f.hidden_field :product_id, value: @product.id %>
        <%= f.submit "Add to Cart", class: "btn btn-secondary btn-block" %>
    </div>
  </div>
  <div class="fb-share-button" data-href="<%= @product_path %>" data-layout="button"></div>

  <br>
  <br>
    <% end %>
</div>

<script>
var opts = {
  auto : false,
  fullScreen : false,
  swipe : true
        };
makeBSS('.num1', opts);
</script>


