
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-2 mainimg">
     <div class="bss-slides num1">
        <figure class="image" >
            <img src="<%= @images.image1.url %>" width="100%" />
        </figure>
         <figure class="image" >
            <img src="<%= @images.image2.url %>" width="100%" />
        </figure>
         <figure class="image" >
            <img src="<%= @images.image3.url %>" width="100%" />
        </figure>
         <figure class="image" >
            <img src="<%= @images.image4.url %>" width="100%" />
        </figure>
      </div>
    </div>
    <div class="col-md-4">
      <p><%= @product.name %></p>

      <h3>description</h3>
      <p><%= @product.description %></p>

      <h3>price</h3>
      <p><%= @product.price %></p>

      <h3>quantity</h3>
      <p><%= @product.quantity %></p>

      <% if @product.image == nil %>
        <%= link_to "add images", new_image_path(product_id: @product.id) %>
      <% else %>
      </div>
  </div>
    <% end %>

     <div class="col-xs-4">

      <%= form_for @order_item, remote: true do |f| %>
      <h4 class="text-right">Unit Price: <span style="color: green"><%= number_to_currency @product.price %></span></h4>
        <div class="input-group">
          <%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %>
          <div class="input-group-btn">
            <%= f.hidden_field :product_id, value: @product.id %>
            <%= f.submit "Add to Cart", class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>

</div>

<script>
var opts = {
  auto : false,
  fullScreen : false,
  swipe : true
        };
makeBSS('.num1', opts);
</script>


