<div class="container">
  <div class="row">
    <div class="col-xs-12 hidden-sm-down">
      <a href="/home/index">home</a> /
      <% if @product.earring == true %>
        <a href="/products/earrings">earrings</a> /
      <% else %>
        <a href="/products/necklaces">necklaces</a> /
      <% end %>
        <%= @product.name %>
    </div>
  </div>
  <div class="row">
  <br>
   <% if @product.image == nil %>
    <%= link_to "add images", new_image_path(product_id: @product.id) %>
  <% else %>
    <div class="col-md-6 col-md-offset-1 mainimg">
      <div class="bss-slides num1">
        <figure class="image" >
            <img src="<%= @images.image1.url %>" width="100%" />
        </figure>
        <figure class="image" >
            <img src="<%= @images.image2.url %>" width="100%" />
        </figure>
        <figure class="image" >
            <img src="<%= @images.image3.url %>" width="100%" />
        </figure>
        <figure class="image" >
            <img src="<%= @images.image4.url %>" width="100%" />
        </figure>
      </div>
    </div>
    <% end %>
    <div class="col-md-4">
      <h5><%= @product.name %></h5>
      <br>
      <h5>$<%= @product.formatted_price %></h5>
      <p><%= simple_format(@product.description) %></p>
      <% if @product.sold_out %>
        <a href="#" class="btn btn-secondary btn-block disabled sharp" role="button">sold out</a>
        <% else %>
        <p><%= @product.quantity %> available</p>
      <%= form_for @order_item, remote: true do |f| %>
        <%= f.hidden_field :quantity, value: 1 %>
        <%= f.hidden_field :product_id, value: @product.id %>
        <%= f.submit "Add to Cart", class: "btn btn-secondary btn-block sharp blk" %>
        <br>
        <div class="a2a_kit a2a_kit_size_32 a2a_default_style hidden-sm-down">
          <a class="a2a_button_facebook"></a>
          <a class="a2a_button_twitter"></a>
          <a class="a2a_button_google_plus"></a>
          <a class="a2a_button_pinterest"></a>
          <a class="a2a_button_tumblr"></a>
          <a class="a2a_button_reddit"></a>
        </div>

        <script type="text/javascript" src="//static.addtoany.com/menu/page.js"></script>
    </div>
  </div>
  <br>
    <% end %>
    <% end %>
</div>
<script>
var opts = {
  auto : false,
  fullScreen : false,
  swipe : true
        };
makeBSS('.num1', opts);
</script>


