<% if @order_items.size == 0 %>
  <% else %>
<%= form_for @charge do |f| %>

  <% if @charge.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@charge.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @charge.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :order_id, value: current_order.id %>
  <%= f.hidden_field :email, id: "email" %>
  <%= f.hidden_field :card_token, id: "card_token" %>
  <%= f.hidden_field :name, id: "name" %>
  <%= f.hidden_field :address1, id: "address1" %>
  <%= f.hidden_field :address2, id: "address2" %>
  <%= f.hidden_field :city, id: "city" %>
  <%= f.hidden_field :state, id: "state" %>
  <%= f.hidden_field :zip, id: "zip" %>
  <%= f.hidden_field :country, id: "country" %>

<div class="row">
  <br>
  <div class="col-md-offset-9 col-md-2 col-xs-12">
    <button class="btn btn-secondary sharp blk pull-xs-right" id="customButton">Checkout</button>
  </div>
</div>

<script>
  var handler = StripeCheckout.configure({
    key: '<%= Rails.configuration.stripe[:publishable_key] %>',
    image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
    locale: 'auto',
    token: function(token, args) {
      $("#email").val(token.email);
      $("#card_token").val(token.id);
      $("#name").val(args.shipping_name);
      $("#address1").val(args.shipping_address_line1);
      $("#address2").val(args.shipping_address_line2);
      $("#city").val(args.shipping_address_city);
      $("#state").val(args.shipping_address_state);
      $("#zip").val(args.shipping_address_zip);
      $("#country").val(args.shipping_address_country);
      $("#new_charge").submit();
    }
  });

  $('#customButton').on('click', function(e) {
    // Open Checkout with further options
    handler.open({
      name: 'Marketplace',
      description: 'testing',
      amount: <%= current_order.total %>,
      billingAdress: "true",
      shippingAddress: "true"
    });
    e.preventDefault();
  });

  // Close Checkout on page navigation
  $(window).on('popstate', function() {
    handler.close();
  });
</script>

<% end %>
<% end %>

