<div class="container">

<div class="card-group">
<div class="card">
  <div class="card-header">Customer Details</div>
  <div class="card-block">
    <p class="card-text">
      <strong><%= @charge.name %></strong><br>
      <%= @charge.address1 %>
      <%= @charge.address2 %><br>
      <%= @charge.city %>,
      <%= @charge.state %>
      <%= @charge.zip %><br>
      <% if @charge.country == "United States" %>
      <% else %>
      <%= @charge.country %><br>
      <% end %>
      </p>
      <p class="card-text">
        <strong>email:</strong>
        <%= @charge.email %>
      </p>
  </div>
</div>



    <div class="card">
      <div class="card-header">
        Order Summary
      </div>
      <div class="card-block">
        <!-- <h4 class="card-title">Special title treatment</h4> -->
        <p class="card-text">
          <strong>date:</strong>
          <%= @charge.created_at.strftime("%Y-%m-%d") %>
        </p>
        <p class="card-text">
          <strong>subtotal:</strong>
          <%= number_to_currency @order.subtotal %>
        </p>
        <p>
          <strong>tax:</strong>
          <%= number_to_currency @order.tax %>
        </p>
        <p>
          <strong>shipping:</strong>
          <%= number_to_currency @order.shipping %>
        </p>
        <p>
          <strong>total:</strong>
          <%= number_to_currency @order.total %>
        </p>
      </div>
    </div>
    </div>

    <table class="table table-hover">
      <thead>
        <tr>
          <th>product name</th>
          <th>product price</th>
          <th>quantity</th>
          <th>total price</th>
        </tr>
      </thead>
      <tbody>
      <% @order_items.each do |order_item| %>
        <tr>
          <td><%= order_item.product.name %></td>
          <td><%= order_item.unit_price %></td>
          <td><%= order_item.quantity %></td>
          <td><%= order_item.total_price %></td>
        </tr>
          <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= link_to 'Back', charges_path %>
