<br>
<div class="container">
  <div class="card-group">
    <div class="card">
      <div class="card-header">
        Customer Details
      </div>
      <div class="card-block">
        <p class="card-text">
          <strong><%= @charge.name %></strong><br>
          <%= @charge.address1 %>
          <%= @charge.address2 %><br>
          <%= @charge.city %>,
          <%= @charge.state %>
          <%= @charge.zip %><br>
          <% if @charge.country == "United States" %>
          <% else %>
            <%= @charge.country %><br>
          <% end %>
        </p>
        <p class="card-text">
          <strong>email:</strong>
          <%= @charge.email %>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        Order Summary
      </div>
      <div class="card-block">
        <p class="card-text">
          <strong>date:</strong>
          <%= @charge.created_at.strftime("%Y-%m-%d") %>
        </p>
        <p class="card-text">
          <strong>subtotal:</strong>
          <%= number_to_currency @order.formatted_subtotal %>
        </p>
        <p>
          <strong>shipping:</strong>
          <%= number_to_currency @order.formatted_shipping %>
        </p>
        <p>
          <strong>total:</strong>
          <%= number_to_currency @order.formatted_total %>
        </p>
      </div>
    </div>
   </div>

    <table class="table table-hover">
      <thead>
        <tr>
          <th>product name</th>
          <th>product price</th>
          <th>quantity</th>
          <th>total price</th>
        </tr>
      </thead>
      <tbody>
      <% @order_items.each do |order_item| %>
        <tr>
          <td><%= order_item.product.name %></td>
          <td>$<%= order_item.formatted_unit_price %></td>
          <td><%= order_item.quantity %></td>
          <td>$<%= order_item.formatted_total_price %></td>
        </tr>
          <% end %>
      </tbody>
    </table>

    <%if @charge.tracking == nil %>
     <%= form_for @charge do |f| %>

    <div class="row">
      <div class="col-md-3">
        <%= f.text_field :tracking, class: "form-control",
          placeholder: "Tracking Number" %>
      </div>
      <div class="col-md-3">
        <%= f.submit "submit", class: "btn btn-primary-outline sharp" %>
      </div>
    </div>
    <% end %>
    <% else %>
    <% end %>

<%= link_to 'Back', charges_path, class: "btn btn-link" %>
</div>
